body {
  margin: 0;
  font-family: sans-serif;
  background-color: black;
  color: white;
  text-align: center;
}
canvas {
  display: block;
  margin: auto;
  background: #111;
  border: 2px solid white;
}
#startScreen {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
}
button {
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 8px;
  border: none;
  background: #444;
  color: white;
}
#popup {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,0.9);
  padding: 20px;
  border: 2px solid white;
}
.hidden {
  display: none;
}